# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/
*.lock.bak

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/key.properties
*.keystore
*.jks

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
